{% extends 'shared/base.html' %}
{% load static %}

{% block site_title %}
    Sign In
{% endblock %}

{% block site_content %}

    <div class="container-fluid" style="background-image: none">
        <div class="row" style="justify-content: center; width: 100%; margin: 3vh auto;">
            <div class="col-lg-6">
                <form class="m-auto" method="post" style="border: 1px solid grey; margin: 10% 0%; padding: 5% 5%"
                      action="{% url 'login' %}">
                    <h2>Sign In</h2>
                    <div class="label-box">
                        {{ form.username.label }}
                        {{ form.username }}
                    </div>
                    <div class="label-box">
                        {{ form.password.label }}
                        {{ form.password }}
                    </div>
                    <div class="label-box">
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}

                    </div>
                    {% csrf_token %}

                    <br>
                    <button type="submit" class="btn btn-primary">Sign In</button>
                    <br>
                    <span>Don't have an account?<br><a href="{% url 'signup user' %}"
                                                       style="color:orange">Sign up here</a></span>
                </form>
                </form>
            </div>

        </div>
    </div>
{% endblock %}