{% extends 'shared/base.html' %}
{% load static %}

{% block site_title %}
    Profile
{% endblock %}


{% block site_content %}
    <div>
        <h1>The Account of Username</h1>
    </div>
    <div class="d-flex">

        <div class="d-inline p-2 w-50">
            <img src="{% static 'images/user_picture.png' %}" class="w-50 rounded mx-auto d-block">
            <div class="d-flex flex-column">
                <h5><a href="{% url 'user profile' %}">My account</a></h5>
                <h5><a href="#">My addresses</a></h5>
                <h5><a href="#">My orders</a></h5>
            </div>
        </div>

        <div class="d-inline p-2 w-50">
            <div class="d-flex flex-column">
                <h5>First name: {{user.first_name}}</h5>
                <h5>Last name: {{user.last_name}}</h5>
                <h5>Email: {{user.email}}</h5>
                <h5>Phone: {{user.profile.phone}}</h5>
            </div>
            <div>

                <a href="{% url 'edit profile' %}" class="btn btn-success">Edit</a>
                <a href="{% url 'delete profile' %}" class="btn btn-danger">Delete</a>

            </div>
        </div>
{% endblock %}