{% extends 'accounts/user_base.html' %}
{% block user_title %}
    My favorites
{% endblock %}

{% block user_content %}
    {% if items %}
        <div class="row item-box" style="padding: 0 20px;">
            {% for item in items %}

                <div class="card" style="width: 18rem; margin-bottom: 20px;">
                    <img src="{{ item.image.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text">{{ item.price }}$</p>
                        <a href="{% url 'item details' item.id %}" class="btn btn-primary">See details</a>
                        <a href="#" class="btn btn-warning">Add to card</a>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% else %}
        <p>No products in favorites</p>
    {% endif %}
{% endblock %}