{% extends 'accounts/user_base.html' %}
{% block user_title %}
    Account details
{% endblock %}

{% block user_content %}
    <div class="d-flex flex-column">
        <h5 class="text-left">First name: {{ user.first_name }}</h5>
        <h5 class="text-left">Last name: {{ user.last_name }}</h5>
        <h5 class="text-left">Email: {{ user.email }}</h5>
        <h5 class="text-left">Phone: {{ user.profile.phone }}</h5>
    </div>
    <div>

        <a href="{% url 'edit profile' %}" class="btn btn-success">Edit</a>
        <a href="{% url 'delete profile' %}" class="btn btn-danger">Delete</a>

    </div>
{% endblock %}