{% load static %}

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #dbece9;">
    <a class="navbar-brand" href="/">
        <div class="p-2"><img
                src="{% static '/images/logo.png' %}"
                style="width: 70px;">
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'list items' %}">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about' %}">About us</a>
            </li>

        </ul>
        <span class="navbar-text">
            <a class="nav-item" href="{% url 'cart detail' %}">
                <img src="{% static 'images/cart.png' %}" style="width: 20px; margin-right: 10px;" alt="cart">
            </a>
        </span>
        {% if user.is_authenticated %}
            <span class="navbar-text">
                <a class="nav-item" href="{% url 'user profile' %}">{{ user.first_name }}</a>
                <a class="nav-item" href="{% url 'signout user' %}">Sign Out</a>
            </span>
        {% else %}
            <span class="navbar-text">
                <a class="nav-item" href="{% url 'login' %}">Sign In</a>
                <a class="nav-item" href="{% url 'signup user' %}">Sign Up</a>
            </span>
        {% endif %}

    </div>
</nav>