{% extends 'shared/base.html' %}

{% block site_title %}
    About
{% endblock %}
{% block site_content %}
    <h1>About us</h1>
    <p>
        We are a handmade jewellery label based in Sofia.
    </p>

    <p>
        Our designs are directly inspired by nature, art, modern design and our beautiful world.
    </p>
    <p>
        We are a small business, but we try our upmost to have the least impact possible on our beloved planet. We are
        constantly on the lookout for ways we can improve and like-minded partners we can work with. We are all in this
        together and we greatly appreciate your suggestions, feedback and support.
    </p>
    <p class="font-italic">
    Get in touch info@gmail.com
    </p>
    <img src="https://images.pexels.com/photos/3184325/pexels-photo-3184325.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
    class="img-fluid" alt="Workshop">
{% endblock %}