{% extends 'shared/base.html' %}


{% block site_title %}
    {{label}}
{% endblock %}
{% block site_content %}

    <h1 class='text-center'>{{ label }}</h1>
    {% if label == 'All products' %}

        <a class="btn btn-outline-dark" href="{% url 'list earrings' %}" role="button">Earrings</a>
        <a class="btn btn-outline-dark" href="{% url 'list rings' %}" role="button">Rings</a>
        <a class="btn btn-outline-dark" href="{% url 'list necklaces' %}" role="button">Necklaces</a>

    {% endif %}
    {% if items %}
        <div class="row item-box">
            {% for item in items %}
                <div class="col-lg-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ item.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text">€{{ item.price }}</p>
                            <a href="{% url 'item details' item.id %}" class="btn btn-primary">See details</a>
                            {% if item.is_available %}

                            {% else %}
                                <a class="btn btn-secondary" disabled>Out of stock</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% else %}
        <p>No products available</p>
    {% endif %}

{% endblock %}