{% extends 'shared/base.html' %}

{% block site_title %}
    {{ item.name }}
{% endblock %}
{% block site_content %}
    <div class="d-flex item-box">
        <div class="d-inline p-2 w-50 ">
            <img src="{{ item.image.url }}" class="w-50 rounded mx-auto d-block">
        </div>
        <div class="d-inline p-2 w-50">
            <div class="d-flex flex-column">
                <h5 class="text-left">Name: {{ item.name }}</h5>
                <h5 class="text-left">Type: {{ item.get_type_display }}</h5>
                <h5 class="text-left">Price: {{ item.price }}$</h5>
            </div>
            <p class="mt-2 text-left">Description: {{ item.description }}</p>

            <div class="text-left">
                {% if is_in_user_fav %}
{#                    <i class="fa fa-heart" aria-hidden="true"></i>#}
                    <a href="{% url 'add to fav' item.id %}">Remove from favorites</a>
                {% else %}
{#                    <i class="fa fa-heart-o" aria-hidden="true"></i>#}
                    <a href="{% url 'add to fav' item.id %}">Add to Favorites</a>
                {% endif %}
            </div>

            <div class="text-left item-box">
                {% if item.is_available %}
                    <a href="#" class="btn btn-warning">Add to card</a>
                {% else %}
                    <a class="btn btn-secondary" disabled>Out of stock</a>
                {% endif %}

            </div>


        </div>
    </div>
    {#    <div class="d-block" style="background-color: #f1e3e3; padding:2%">#}
    {#        {% if pet.comment_set.exists %}#}
    {#            {% for comment in pet.comment_set.all %}#}
    {#                <div class="box">#}
    {#                    <a href="{% url 'user profile' comment.user_id %}">{{ pet.user.user.username }}</a>#}
    {#                    <h5><em>{{ comment.text }}</em></h5>#}
    {#                    <hr>#}
    {#                </div>#}
    {#            {% endfor %}#}
    {#        {% else %}#}
    {#            <div class="box">#}
    {#                <h3>There are no comments for this pet. </h3>#}
    {#            </div>#}
    {#        {% endif %}#}
    {#        {% if can_comment %}#}
    {#            <div class="box">#}
    {#                <form method="post" action="{% url 'pet details or comment' pet.pk %}">#}
    {#                    {{ form }}#}
    {#                    {% csrf_token %}#}
    {#                    <button class="btn btn-primary mt-2" type="submit">Add comment</button>#}
    {#                </form>#}
    {#            </div>#}
    {#        {% endif %}#}
    {#    </div>#}
{% endblock %}
