.img-thumbnail{
    width: 300px;
    margin-bottom: 10px;
}

.btn,
.btn-dark,
.btn-outline-dark{
    border-radius: 1px;
}


.item-box {
    margin-top: 20px;
}

.body-main {
    min-height: 60vh;
}


.label-box {
    margin: 10px;
}

footer {
    position: relative;
    bottom: 0;
}


